$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;

//믹스인:함수하고 비슷
@mixin Square($size){
    $calculated: 32px * $size;
    width: $calculated;
    height: $calculated;
}

.SaccComponent {
    display: flex;
   
    //nest 기능
    .box{ //일반 css에서는 .SassComponent .box 를 의미한다.
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &.red { //& == .box          &.red=.box.red
            background: $red;
            @include Square(1)
        }

        &.orange {
            background: $orange;
            @include Square(2);
          }
        &.yellow {
            background: $yellow;
            @include Square(3);
          }
        &.green {
            background: $green;
            @include Square(4);
          }
        &.blue {
            background: $blue;
            @include Square(5);
          }
        &.indigo {
            background: $indigo;
            @include Square(6);
          }
        &.violet {
            background: $violet;
            @include Square(7);
          }
        &:hover {
            // .box 에 마우스 올렸을 때
            background: black;
          }
    }
}